<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WindowCaption" value="Папка обмена."/>
    <add key="Version" value="v3.0.9.1b"/>
    
    <add key="Trees" value="default.txt,Мониторинги.txt,Проверки.txt"/>

    <add key="ProfileNames" value="default,Demakov,Демонстрация возможностей"/>

    <add key="default" value="default.xml"/>
    <add key="Demakov" value="demakov_default.xml,demakov_2.xml"/>
    <add key="Демонстрация возможностей" value="default.xml,Мониторинги.xml,Проверки.xml"/>
    <!-- <add key="Тестовый" value="default3.txt,default4.txt"/> -->
    
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
